<div class="container">
    <h1>PokeGodar</h1>

    <p>This site demonstrates key functionality of <a href="https://azure.microsoft.com/en-us/services/search/">Azure Search</a>.  For more information email the <a href="mailto://searchengineers@microsoft.com">search services team</a> or follow their <a href="http://blogs.technet.com/b/onsearch/">blog</a>.</p>
    <hr>

    <div class="row text-center landing">

        <div class="col-sm-12">
            <a href="#/pokemon">
                <h3>Geospatial Search</h3>

                <div>

                    <span class="glyphicon glyphicon-map-marker">
                    </span>
                </div>

                <p class="help-block">Search live global Pokemon Go database and display results in Bing maps.</p>
            </a>
        </div>
        <hr>
    </div>
