<div class="jumbotron">
    <h1>PokeGodar</h1>
    <p class="lead">Sample project based on SwiftDotNet and AngularAzureSearch.</p>
    <p><a href="http://github.com/thedarkcode/pokegodar" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
</div>
